<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" tools:ignore="QueryAllPackagesPermission"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />

    <application
        android:name="ru.dimon6018.metrolauncher.Application"
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_os_windows_8"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".Main"
            android:exported="true"
            android:icon="@drawable/ic_os_windows_8"
            android:taskAffinity="ru.dimon6018.metrolauncher.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.HOME"/>
            </intent-filter>
        </activity>
        <activity
                android:name="ru.dimon6018.metrolauncher.content.settings.SettingsActivity"
                android:exported="true"
                android:label="MPL Settings"
                android:icon="@drawable/ic_settings"
                android:taskAffinity=".content.settings.SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="ru.dimon6018.metrolauncher.content.settings.ThemeSettingsActivity"
                android:exported="true"
                android:label="start+theme"
                android:icon="@drawable/ic_settings">
        </activity>
        <activity
                android:name="ru.dimon6018.metrolauncher.content.settings.AboutSettingsActivity"
                android:exported="true"
                android:label="about"
                android:icon="@drawable/ic_settings">
        </activity>
    </application>
</manifest>