<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" tools:ignore="QueryAllPackagesPermission"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="ru.dimon6018.metrolauncher.Application"
        android:theme="@style/AppTheme.Cobalt"
        android:testOnly="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name="ru.dimon6018.metrolauncher.Main"
            android:exported="true"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:resumeWhilePausing="true"
            android:taskAffinity="">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.HOME"/>
            </intent-filter>
        </activity>
        <activity
                android:name="ru.dimon6018.metrolauncher.content.settings.SettingsActivity"
                android:autoRemoveFromRecents="true"
                android:exported="true"
                android:label="@string/settings_app_title"
                android:icon="@mipmap/settings"
                android:taskAffinity=".content.settings.SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="ru.dimon6018.metrolauncher.content.settings.activities.ThemeSettingsActivity"
                android:autoRemoveFromRecents="true"
                android:exported="true">
        </activity>
        <activity
            android:name="ru.dimon6018.metrolauncher.content.settings.activities.FeedbackSettingsActivity"
            android:autoRemoveFromRecents="true"
            android:exported="true">
        </activity>
        <activity
            android:name="ru.dimon6018.metrolauncher.content.settings.activities.FeedbackBsodListActivity"
            android:autoRemoveFromRecents="true"
            android:exported="true">
        </activity>
        <activity
            android:name="ru.dimon6018.metrolauncher.content.settings.activities.UpdateActivity"
            android:exported="true">
        </activity>
        <activity
            android:name="ru.dimon6018.metrolauncher.content.settings.activities.NavBarSettingsActivity"
            android:autoRemoveFromRecents="true"
            android:exported="true">
        </activity>
        <activity
            android:name="ru.dimon6018.metrolauncher.content.settings.activities.IconSettingsActivity"
            android:exported="true">
        </activity>
        <activity
            android:name="ru.dimon6018.metrolauncher.content.settings.activities.WeatherSettingsActivity"
            android:exported="true">
        </activity>
        <activity
            android:name="ru.dimon6018.metrolauncher.content.settings.Reset"
            android:exported="true">
        </activity>
        <activity
            android:name="ru.dimon6018.metrolauncher.helpers.bsod.BsodScreen"
            android:autoRemoveFromRecents="true"
            android:exported="true">
        </activity>
        <activity
            android:name="ru.dimon6018.metrolauncher.helpers.bsod.recovery.Recovery"
            android:exported="true">
        </activity>
        <activity
            android:name="ru.dimon6018.metrolauncher.helpers.bsod.recovery.RecoveryOptions"
            android:autoRemoveFromRecents="true"
            android:exported="true">
        </activity>
        <activity
            android:name="ru.dimon6018.metrolauncher.content.oobe.WelcomeActivity"
            android:exported="true">
        </activity>
        <activity
            android:name="ru.dimon6018.metrolauncher.content.settings.activities.AllAppsSettingsActivity"
            android:exported="true">
        </activity>
        <activity
            android:name="ru.dimon6018.metrolauncher.content.settings.activities.TileSettingsActivity"
            android:exported="true">
        </activity>
        <activity
                android:name="ru.dimon6018.metrolauncher.content.settings.activities.AboutSettingsActivity"
            android:autoRemoveFromRecents="true"
                android:exported="true">
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <receiver
            android:name=".helpers.receivers.PackageChangesReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.QUERY_ALL_PACKAGES">
            <intent-filter>
                <action android:name="ru.dimon6018.metrolauncher.PACKAGE_CHANGE_BROADCAST" />
            </intent-filter>
        </receiver>
    </application>
</manifest>